* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  /* width: auto;
  height: auto; */
}
nav {
  width: 100%;
  height: 100px;
  line-height: 75px;
  padding: 0px 100px;
  position: fixed;
  background-image: linear-gradient(#033747, #012733);
}
nav .logo p {
  font-size: 2em;
  font-weight: bold;
  float: left;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
nav ul {
  float: right;
}

nav li {
  display: inline-block;
  list-style: none;
}
nav li a {
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 30px;
  color: #fff;
  text-decoration: none;
}
nav li a:hover {
  color: #ff8c69;
  transition: all 0.4s ease 0s;
}
.checkbtn{
  color: #000;
  font-size: 25px;
  cursor: pointer;
  float:right ;
}
/* .container {
  width: 85vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  border: 10px solid #ffffff;
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
} */

.contain {
  padding-top: 8em;
  width: 80%;
  margin: 0 auto;
  background-color: #5c5d56;
  display: flex;
}
.contain-items img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 70vh;
  background-size: cover;
}

.expo {
  /* display: contents;
 
  align-content: center;
  margin: 40px;
  padding: 50px; */

  flex: 1;
  /* border: 1px solid black; */
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 30px;
  /* background: rgb(79, 63, 63); */
  color: #fff;
  justify-content: center;
  text-align: center;
}

.car1 {
  font-size: 20px;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #fff;
  margin-right: 50px;
}

.audi {
  padding-top: 8em;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(245, 128, 126);
  display: flex;
  text-align: center;
  border-radius: 5px;
}
.ford {
  padding-top: 8em;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(82, 82, 37);
  display: flex;
  border-radius: 5px;
}
.mercedes {
  padding-top: 8em;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(158, 63, 63);
  display: flex;
  /* border-radius: 5px; */
}
button {
  box-sizing: border-box;
  width: 100px;
  background-color: transparent;
  color: #000;
  border: #000 1px solid;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  border-radius: 4px;
}
button:hover {
  cursor: pointer;
}
footer {
  padding: 5px;
  /* margin: 5px; */
  /* gap: 5px; */
  background-color: #033747;
  color: #fff;

  text-align: center;
}
footer li {
  display: inline-block;
  margin: 0.7em;
}

footer li a {
  color: #fff;
  font-size: 00.9em;
  text-decoration: underline;
}
.bottom {
  padding: 10px;
  margin: 40px;
}

@media screen and (max-width: 1200px) {
  .navbar ul {
    display: none;
  }
  .menu-btn-mobile {
    display: block;
    cursor: pointer;
    background: #e5e8ea;
    padding: 0.4em 1em;
    border-radius: 0.7em;
  }
}

@media screen and (max-width: 990px) {
  nav{
    padding: 0px 50px;
  }

  
@media screen and (max-width: 450px) {
  html {
    font-size: 8px;
  }
}
