* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 100px;
  line-height: 75px;
  padding: 0px 100px;
  position: fixed;
  background-image: linear-gradient(#033747, #012733);
}
nav .logo {
  float: left;
}
nav .logo p {
  font-size: 2em;
  font-weight: bold;
  float: left;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
nav ul {
  float: right;
}

nav li {
  display: inline-block;
  list-style: none;
}
nav li a {
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 20px;
  color: #fff;
  text-decoration: none;
}
nav li a:hover {
  color: #ff8c69;
  transition: all 0.4s ease 0s;
}

.checkbtn {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  float: right;
  display: none;
}
#check {
  display: none;
}

.contain {
  padding-top: 8em;
  width: 90%;
  margin: 0 auto;
  background-color: #5c5d56;
  display: flex;
}
.contain-items img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 70vh;
  background-size: cover;
}

.expo {
  flex: 1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 30px;
  color: #fff;
  justify-content: center;
  text-align: center;
}

.car1 {
  font-size: 20px;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #fff;
  margin-right: 50px;
}

.audi {
  padding-top: 8em;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(245, 128, 126);
  display: flex;
  text-align: center;
  border-radius: 5px;
}
.ford {
  padding-top: 8em;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(82, 82, 37);
  display: flex;
  border-radius: 5px;
}
.mercedes {
  padding-top: 8em;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(158, 63, 63);
  display: flex;
  /* border-radius: 5px; */
}
button {
  box-sizing: border-box;
  width: 100px;
  background-color: transparent;
  color: #000;
  border: #000 1px solid;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  border-radius: 4px;
}
button:hover {
  cursor: pointer;
}
footer {
  padding: 5px;
  line-height: 30px;
  background-color: #033747;
  color: #fff;
  text-align: center;
}
footer li {
  display: inline-block;
  margin: 0.7em;
}

footer li a {
  color: #fff;
  font-size: 00.9em;
  text-decoration: underline;
}

@media screen and (max-width: 990px) {
  nav {
    padding: 0px 50px;
  }
  .checkbtn {
    display: block;
    /* color: #000; */
  }
  nav.logo p {
    font-size: 30px;
  }
  nav ul {
    width: 100%;
    height: 100vh;
    background-color: #53694c;
    position: fixed;
    top: 75px;
    left: 100%;
    text-align: center;
    transition: 0.4s ease;
  }
  nav ul li {
    display: block;
    margin: 60px 0px;
    line-height: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  /* .background {
  background-image:url('Image/ford\ mustang.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:calc(100vh - 75px) ;
} */
}
